flows.json
[{"id":"da9139d2ffd0e455","type":"debug","z":"54ba14f7a688b268","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3700,"y":300,"wires":[]},{"id":"20f6a4bc887c7e47","type":"mqtt out","z":"54ba14f7a688b268","name":"Homeassistant","topic":"","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"51e17707f975ed60","x":3720,"y":260,"wires":[]},{"id":"4444c0acbaebb17a","type":"function","z":"54ba14f7a688b268","name":"HA Autodiscovery","func":"// ---------- VEHICLE CONFIG ----------\nconst vin = \"YOUR_VIN\";\nconst model = \"YOUR_MODEL\";\nconst vehicleName = \"BMW Vehicle\";\nconst manufacturer = \"BMW\";\n\n// ---------- INPUT ----------\nconst rawName = msg.payload.name;\nconst value = msg.payload.value;\nconst unit = msg.payload.unit || null;\n\n// ---------- VALUE TYPE DETECTION ----------\nconst isBoolean = typeof value === \"boolean\";\nconst isNumber  = typeof value === \"number\";\nconst isString  = typeof value === \"string\";\n\n// ---------- DOMAIN DETECTION ----------\nlet domain = \"sensor\";\n\nif (isBoolean) {\n    domain = \"binary_sensor\";\n}\n\nif (rawName.includes(\"currentLocation\")) {\n    domain = \"device_tracker\";\n}\n\n// ---------- CLEAN ENTITY ID ----------\nconst shortName = rawName\n    .replace(\"vehicle.\", \"\")\n    .replaceAll(\".\", \"_\")\n    .toLowerCase();\n\nconst entity_id = `bmw_${shortName}`;\n\n// ---------- MQTT DISCOVERY TOPICS ----------\nconst stateTopic  = `homeassistant/${domain}/${entity_id}/state`;\nconst configTopic = `homeassistant/${domain}/${entity_id}/config`;\n\n// ---------- FRIENDLY SUFFIX (TARGET) ----------\nlet friendlySuffix = \"\";\nif (rawName.toLowerCase().includes(\"pressuretarget\")) {\n    friendlySuffix = \" Target\";\n}\n\n// ---------- WHEEL POSITION ----------\nlet positionName = \"\";\nif (rawName.includes(\"row1.wheel.left\"))  positionName = \"Front Left \";\nif (rawName.includes(\"row1.wheel.right\")) positionName = \"Front Right \";\nif (rawName.includes(\"row2.wheel.left\"))  positionName = \"Rear Left \";\nif (rawName.includes(\"row2.wheel.right\")) positionName = \"Rear Right \";\n\n// ---------- STATE CLASS ----------\nlet stateClass = null;\n\nif (isNumber) {\n    stateClass = \"measurement\";\n}\n\nif (rawName.includes(\"travelledDistance\")) {\n    stateClass = \"total_increasing\";\n}\n\n// Pressure targets must NOT be measurements\nif (rawName.toLowerCase().includes(\"pressuretarget\")) {\n    stateClass = null;\n}\n\n// ---------- DEVICE CLASS ----------\nlet deviceClass = null;\n\n// --- numeric electrical sensors ---\nif (unit === \"A\"   && isNumber) deviceClass = \"current\";\nif (unit === \"kW\"  && isNumber) deviceClass = \"power\";\nif (unit === \"kWh\" && isNumber) deviceClass = \"energy\";\n\n// --- battery ONLY when percentage ---\nif (rawName.toLowerCase().includes(\"hvsoc\")) {\n    deviceClass = \"battery\";\n}\n\n// --- other numeric ---\nif (rawName.includes(\"tire.pressure\") && isNumber) deviceClass = \"pressure\";\nif (rawName.includes(\"avgSpeed\")      && isNumber) deviceClass = \"speed\";\nif (rawName.includes(\"travelledDistance\") && isNumber) deviceClass = \"distance\";\n\n// --- binary sensors ---\nif (domain === \"binary_sensor\") {\n    if (rawName.includes(\"isOpen\"))     deviceClass = \"door\";\n    if (rawName.includes(\"charging\"))   deviceClass = \"plug\";\n    if (rawName.includes(\".window.\"))   deviceClass = \"window\";\n}\n\n// ---------- UNIT NORMALIZATION ----------\nlet normalizedUnit = unit;\n\nif (unit) {\n    const u = unit.toLowerCase();\n    if (u === \"kpa\")     normalizedUnit = \"kPa\";\n    if (u === \"percent\")normalizedUnit = \"%\";\n    if (u === \"km/h\")   normalizedUnit = \"km/h\";\n}\n\n// --- enforce correct battery unit ---\nif (rawName.toLowerCase().includes(\"hvsoc\")) {\n    normalizedUnit = \"%\";\n    stateClass = \"measurement\";\n}\n\n// --- REMOVE unit and classes for string sensors ---\nif (isString) {\n    normalizedUnit = null;\n    stateClass     = null;\n    deviceClass    = null;\n}\n\n// ---------- FRIENDLY BASE NAME ----------\nlet baseName = rawName.split(\".\").slice(-2).join(\" \");\nlet friendlyName = `BMW ${positionName}${baseName}${friendlySuffix}`;\n\n// ---------- DISCOVERY PAYLOAD ----------\nconst configPayload = {\n    name: friendlyName,\n    unique_id: entity_id,\n    state_topic: stateTopic,\n\n    device_class: deviceClass || undefined,\n    state_class: stateClass || undefined,\n    unit_of_measurement: normalizedUnit || undefined,\n\n    ...(domain === \"binary_sensor\"\n        ? { payload_on: \"ON\", payload_off: \"OFF\" }\n        : {}),\n\n    device: {\n        identifiers: [vin],\n        name: vehicleName,\n        manufacturer: manufacturer,\n        model: model\n    }\n};\n\n// ---------- STATE NORMALIZATION ----------\nlet statePayload = value;\n\nif (domain === \"binary_sensor\") {\n    statePayload = value === true ? \"ON\" : \"OFF\";\n}\n\n// ---------- OUTPUT TO MQTT ----------\nreturn [\n    {\n        topic: configTopic,\n        payload: configPayload,\n        retain: true\n    },\n    {\n        topic: stateTopic,\n        payload: statePayload,\n        retain: true\n    }\n];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3510,"y":260,"wires":[["20f6a4bc887c7e47"],["da9139d2ffd0e455","20f6a4bc887c7e47"]]},{"id":"5ddd78286c53134e","type":"function","z":"54ba14f7a688b268","name":"Prepare Data","func":"// Make sure payload and data exist\nif (!msg.payload || !msg.payload.data) {\n    // Optionally, log or pass through other messages\n    node.warn(\"No data field in payload, skipping: \" + JSON.stringify(msg.payload));\n    return null;  // stop processing this message\n}\n\n// Safe to use data now\nlet data = msg.payload.data;\nlet keys = Object.keys(data);\n\nif (keys.length > 0) {\n    let key = keys[0]; // e.g., \"vehicle.drivetrain.batteryManagement.header\"\n    let measurement = data[key]; // {timestamp, value, unit}\n\n    // Defensive: check that measurement exists and has a value\n    if (measurement && measurement.value !== undefined) {\n        msg.payload = {\n            name: key,\n            value: measurement.value,\n            unit: measurement.unit,\n            timestamp: measurement.timestamp\n        };\n        return msg;\n    } else {\n        node.warn(\"Missing measurement fields in \" + key);\n        return null;\n    }\n} else {\n    node.warn(\"Empty data object\");\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3330,"y":260,"wires":[["4444c0acbaebb17a"]]},{"id":"58b04f200088ba6a","type":"mqtt in","z":"54ba14f7a688b268","name":"","topic":"bmw/#","qos":"2","datatype":"auto-detect","broker":"df52700c.0c65c","nl":false,"rap":true,"rh":0,"inputs":0,"x":3190,"y":260,"wires":[["5ddd78286c53134e"]]},{"id":"51e17707f975ed60","type":"mqtt-broker","name":"MQTT (Breda) via Docker","broker":"mqtt.home.lan","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"df52700c.0c65c","type":"mqtt-broker","name":"MQTT - Breda","broker":"mqtt.home.lan","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]